/* ==============================
---------- Media Queries ----------
============================== */

@media (min-width: 1200px) {

  .main-header,
  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .main-header {
    align-items: center;
    justify-content: space-between;
  }



}
