/* ==============================
---------- Base Style ----------
============================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #000;
}

h2,
h3,
a {
  color: #000;
}

a {
  text-decoration: none; /* 消除基本格式 */
}


/* ==============================
---------- Base Layout ----------
============================== */

/* ---------- Navigation ---------- */

.main-header {
  background: gainsboro;
  padding-top: .5em;
  padding-bottom: .5em
}

.webtitle {
  font-size: 1.25rem;
  margin: 0; /* 消除基本格式 */
}

.webtitle a,
.main-nav a {
  text-align: center;
  display: block;
  padding: 10px 15px;
}

/* ---------- toogle ---------- */

#toggle {
  display: none;
}

.togglearea {
  border-color: gainsboro;
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
}

.togglearea label {
  width: 45px;
  height: 45px;
  /* 滑鼠移到時有手指 */
  cursor: pointer;
  /* 讓 span 線條對準 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.togglearea label span {
  background-color: black;
  height: 2px;
  width: 80%;
  margin: 3px 0;
}

/* 一開始先不要顯現 */
.togglearea {
  display: none;
}

/* ---------- Layout Containers ---------- */

.main-header {
  padding-left: .5em;
  padding-right: .5em;
}

.banner {
  color: #000;
  background: powderblue;
  padding: 3.2em 0; /* 做出 Banner 高度 */
  margin-bottom: 60px; /* 隔開與下面的距離 */
  text-align: center;
}

/* ==============================
---------- Media Queries ----------
============================== */

/* 500px~800px */

@media (max-width: 800px) {

  .main-header,
  .togglearea {
    display: flex;
    flex-direction: row;
  }

  .main-header {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .main-nav {
    display: none;
    width: 500px;
  }

  #toggle:checked + .main-nav {
    display: flex;
    flex-direction: column;
  }

  .togglearea {
    display: flex;
  }

}






/* 
.clearfix::after {
  content: "";
  display: table;
  clear: both;
} */
