/* ==============================
---------- Base Style ----------
============================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #000;
}

h2,
h3,
a {
  color: #000;
}

a {
  text-decoration: none; /* 消除基本格式 */
}


/* ==============================
---------- Base Layout ----------
============================== */

/* ---------- Navigation ---------- */

.main-header {
  background: gainsboro;
  padding-top: .5em;
  padding-bottom: .5em
}

.webtitle {
  font-size: 1.25rem;
  margin: 0; /* 消除基本格式 */
}


/* ---------- Layout Containers ---------- */

.container {
  padding-left: 3em;
  padding-right: 3em;
}

.banner {
  color: #000;
  background: powderblue;
  padding: 3.2em 0; /* 做出 Banner 高度 */
  margin-bottom: 60px; /* 隔開與下面的距離 */
  text-align: center;
}

/* ==============================
---------- Media Queries ----------
============================== */

/* @media (min-width: 769px) {

  .webtitle {
    float: left;
  }

  .main-nav {
    float: right;
  }

  .main-nav li {
    display: inline-block;
    margin-left: 50px;
  }

} */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
