/* ==============================
---------- Media Queries ----------
============================== */

@media (min-width: 800px) {

  .main-header,
  .webtitle,
  .main-nav,
  .profile,
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main-header {
    justify-content: space-between;
  }

  .main-nav {
    margin-right: auto;
    margin-left: 40px;
  }

  .sectiontitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .row {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  .box,
  .description {
    display: flex;
    flex-direction: column;
  }


}


@media (max-width: 800px) {

  .main-header,
  .togglearea {
    display: flex;
    flex-direction: row;
  }

  .main-header {
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
  }

  .main-nav {
    order: 3;
    display: none;
    width: 100%; /* 為了佔滿一整行 */
  }

  #toggle:checked + .main-nav {
    display: flex;
    flex-direction: column;
  }

  .main-nav a:hover {
    background: #f1f3f4;
    color: #000;
  }

  .togglearea {
    margin-right: 8px;
    display: flex;
  }

  .webtitle {
    order: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-right: auto;
  }

  .main-header .profile {
    order: 2;
  }


}







@media (min-width: 841px) {

  .products,
  .product-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}

@media (min-width: 601px) and (max-width: 840px) {

  .products {
    display: flex;
    flex-direction: column;
  }

  .product-list {
    display: flex;
    flex-direction: row;
  }

  .product-list a {
    margin-right: 40px;
    padding: 8px 0;
  }

}

@media (min-width: 601px) {

  .sources {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .info-list,
  .subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

}

@media (max-width: 600px) {

  .products {
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info-list,
  .subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

}

/* 1170 nav收,
840 top-footer 單行/兩行
600 Event(view all)雙/單直, source三直/單直, (條款隱私) 單行/三行 */
