/* ==============================
---------- Base Style ----------
============================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  background: #fff;
}

h2,
h3,
a {
  color: #000;
}

a {
  text-decoration: none; /* 消除基本格式 */
}


/* ==============================
---------- Base Layout ----------
============================== */

/* ---------- Navigation ---------- */

.main-header {
  font-size: .7rem;
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #bdc1c6;
}

.webtitle img {
  height: 23px;
}

.profile img {
  height: 30px;
}

.webtitle,
.main-nav a,
.profile {  
  text-align: center;
  padding: 0px 1.5em;
}

.webtitle a {
  margin-left: 8px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
}

.main-nav {
  font-size: 1.25em;
}

.profile a {
  margin-right: 30px;
  font-size: .7em;
  font-weight: 400;
  border: solid 1px grey;
  padding: .3em 1em;
}

.webtitle h1,
.profile h1 {
  margin: 0;
}


/* ---------- toogle ---------- */



/* ---------- Layout Containers ---------- */



/* ---- Page Elements ---- */



/* ==============================
---------- Media Queries ----------
============================== */

@media (min-width: 800px) {



}
