/* ==============================
---------- Media Queries ----------
============================== */

@media (min-width: 801px) {

  .main-header,
  .main-nav {
    display: flex;
    flex-direction: row;
  }

  .main-header {
    align-items: center;
    justify-content: space-between;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

}

@media (max-width: 800px) {

  .main-header,
  .togglearea {
    display: flex;
    flex-direction: row;
  }

  .main-header {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  /* #toggle:checked + .main-nav {
    display: flex;
    flex-direction: column;
  } */
/*
  .togglearea {
    display: flex;
  } */

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .open {
    order: 1;
  }

  .list {
    order: -1;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

}
