/* ==============================
---------- Base Style ----------
============================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #000;
}

h2,
h3,
a {
  color: #000;
}

a {
  text-decoration: none; /* 消除基本格式 */
}


/* ==============================
---------- Base Layout ----------
============================== */

/* ---------- Navigation ---------- */

.main-header {
  height: 60px;
  background: gainsboro;
  padding-top: .5em;
  padding-bottom: .5em;
}

.webtitle {
  font-size: 1.25rem;
  margin: 0; /* 消除基本格式 */
}

.webtitle a {
  text-align: center;
  padding: 10px 15px; /* 10px, 15px */
}

.list a {
  text-align: center;
  padding: 10px 15px;
}

.open {
  display: none;
  color: #000;
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.close {
  cursor: pointer;
}

/* ---------- Layout Containers ---------- */

.main-header {
  padding-left: .5em;
  padding-right: .5em;
}

.banner {
  line-height: 6em;
  height: 15em;
  color: #000;
  background: powderblue;
  padding: 3.2rem 0; /* 做出 Banner 高度 */
  margin-bottom: 30px; /* 隔開與下面的距離 */
  text-align: center;
}

.container {
  text-align: center;
  margin: 0 auto 56px;
}

.sectiontitle {
  margin-bottom: 30px;
}

.box {
  padding: 1em;
  background: slategray;
  margin: 0 .5em 1.5em;
}

.second {
  display: none;
}

/* ---- Page Elements ---- */

.button {
  display: inline-block;
	color: #000;
	text-align: center;
	padding: .625rem 1.25rem;
	background: skyblue;
  margin-top: 30px;
  cursor: pointer;
}


/* ==============================
---------- Media Queries ----------
============================== */

@media (min-width: 801px) {

  .close-box {
    display: none;
  }

  .container {
    max-width: 1200px;
  }

  .row {
    width: 90%;
    margin: 0 auto;
  }

  .box {
    width: 45%;
    height: 10rem;
  }

}

@media (max-width: 800px) {

  .open {
    display: block;
  }

  .main-nav {
    width: 0%;
    height: 100vh;
    max-width: 320px;
    background: #fff;
    border-left: 1px solid gainsboro;
    position: fixed;
    right: 0;
    top: 0;
  }

  .main-nav a {
    font-size: 16px;
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: 0.4s;
  }

  .main-nav a:hover,
  .open:hover {
    color: grey;
  }

  .close-box,
  .list {
    margin-top: 10px;
  }

  .close {
    height: 60px;
    margin-right: 15px;
    /* margin-bottom: 10px; */
  }

  .row {
    width: 90%;
    margin: 0 auto;
  }

  .box {
    width: 45%;
    height: 10rem;
  }

}

@media (max-width: 500px) {

  .webtitle {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: .9rem;
  }

  .main-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .box {
    width: 100%;
  }

}
